**Zomata Dataset Exploratory analysis**

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df=pd.read_csv('zomato.csv',encoding='latin-1')
df.head()

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",...,Botswana Pula(P),No,No,No,No,4,4.9,Dark Green,Excellent,365
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",...,Botswana Pula(P),Yes,No,No,No,4,4.8,Dark Green,Excellent,229

In [3]:
df.columns

Index(['Restaurant ID', 'Restaurant Name', 'Country Code', 'City', 'Address',
       'Locality', 'Locality Verbose', 'Longitude', 'Latitude', 'Cuisines',
       'Average Cost for two', 'Currency', 'Has Table booking',
       'Has Online delivery', 'Is delivering now', 'Switch to order menu',
       'Price range', 'Aggregate rating', 'Rating color', 'Rating text',
       'Votes'],
      dtype='object')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9551 entries, 0 to 9550
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Restaurant ID         9551 non-null   int64
 1   Restaurant Name       9551 non-null   object
 2   Country Code          9551 non-null   int64
 3   City                  9551 non-null   object
 4   Address               9551 non-null   object
 5   Locality              9551 non-null   object
 6   Locality Verbose      9551 non-null   object
 7   Longitude             9551 non-null   float64
 8   Latitude              9551 non-null   float64
 9   Cuisines              9542 non-null   object
 10  Average Cost for two  9551 non-null   int64
 11  Currency              9551 non-null   object
 12  Has Table booking     9551 non-null   object
 13  Has Online delivery   9551 non-null   object
 14  Is delivering now     9551 non-null   object
 15  Switch to order menu  9551 non-null   object
 16  Price range           9551 non-null   int64
 17  Aggregate rating      9551 non-null   float64
 18  Rating color          9551 non-null   object
 19  Rating text           9551 non-null   object
 20  Votes                 9551 non-null   int64
dtypes: float64(3), int64(5), object(13)
memory usage: 1.5+ MB

In [5]:
df.describe()

,Restaurant ID,Country Code,Longitude,Latitude,Average Cost for two,Price range,Aggregate rating,Votes
count,9.551000e+03,9551.000000,9551.000000,9551.000000,9551.000000,9551.000000,9551.000000,9551.000000
mean,9.051128e+06,18.365616,64.126574,25.854381,1199.210763,1.804837,2.666370,156.909748
std,8.791521e+06,56.750546,41.467058,11.007935,16121.183073,0.905609,1.516378,430.169145
min,5.300000e+01,1.000000,-157.948486,-41.330428,0.000000,1.000000,0.000000,0.000000
25%,3.019625e+05,1.000000,77.081343,28.478713,250.000000,1.000000,2.500000,5.000000
50%,6.004089e+06,1.000000,77.191964,28.570469,400.000000,2.000000,3.200000,31.000000
75%,1.835229e+07,1.000000,77.282006,28.642758,700.000000,2.000000,3.700000,131.000000
max,1.850065e+07,216.000000,174.832089,55.976980,800000.000000,4.000000,4.900000,10934.000000

##IN data analysis what all things we do
1. Missing values
2. explore about the numerical variable
3. categorial variables shouls be analyse
4.finding relationship between features

In [6]:
df.isnull().sum()

Restaurant ID           0
Restaurant Name         0
Country Code            0
City                    0
Address                 0
Locality                0
Locality Verbose        0
Longitude               0
Latitude                0
Cuisines                9
Average Cost for two    0
Currency                0
Has Table booking       0
Has Online delivery     0
Is delivering now       0
Switch to order menu    0
Price range             0
Aggregate rating        0
Rating color            0
Rating text             0
Votes                   0
dtype: int64

In [7]:
df.isnll()

AttributeError: 'DataFrame' object has no attribute 'isnll'

In [ ]:
df.isnull()

In [ ]:
[features for features in df.columns if df[features].isnull().sum()>0]

In [ ]:
sns.heatmap(df.null(),ytickslabels=False,cbar=False,cmap='viridis')

In [ ]:
sns.heatmap(df.isnull(),yticklabels=False,cbar=False,cmap='viridis')

In [ ]:
df_country=pd.read_excel('Country-Code.xlsx')

In [ ]:
df_country.head()

In [ ]:
df_country.shape

In [ ]:
df.columns

In [ ]:
final_df= pd.merge(df,df_country,on='Country Code',how='left')

In [ ]:
final_df

## To-check datatypes

In [ ]:
final_df.dtypes

In [ ]:
final_df.columns

In [ ]:
final_df.shape

In [ ]:
final_df.Country.value_counts()

In [ ]:
country_names=final_df.Country.value_counts().index

In [ ]:
country_names=final_df.Country.value_counts().index

In [ ]:
final_df.Country.value_counts().index

In [ ]:
country_names

In [ ]:
final_df.Country.value_counts().values"

In [ ]:
final_df.Country.value_counts().values

In [ ]:
country_val=final_df.Country.value_counts().values

In [ ]:
plt.pie(country_val,labels=country_names)

In [ ]:
##pie chart  for top 3 countries using Zomato

In [ ]:
plt.pie(country_val,labels=country_names)

In [ ]:
plt.pie(country_val[:3],labels=country_names[:3])

In [ ]:
plt.pie(country_val[:3],labels=country_names[:3],autopct='%1.2f%%')

In [ ]:
plt.pie(country_val[:3],labels=country_names[:3],autopct='%1.6f%%')

obsrvation:Zomato maximum records or transaction are from India after that USA and then United kIngsom

In [ ]:
final_df.coulmns

In [ ]:
final_df.columns

In [ ]:
final_df.groupby(['Aggregate rating','Rating color','Rating text'])

In [ ]:
final_df.groupby(['Aggregate rating','Rating color','Rating text']).size()

In [ ]:
final_df.groupby(['Aggregate rating','Rating color','Rating text']).size().reset_index()

In [ ]:
final_df.groupby(['Aggregate rating','Rating color','Rating text']).size().reset_index().rename(columns={0:'Rating Count'})

In [ ]:
ratings=final_df.groupby(['Aggregate rating','Rating color','Rating text']).size().reset_index().rename(columns={0:'Rating Count'})

In [ ]:
ratings

##observation:
1. when ratings are between 4.5 to 4.9---- Excellent
2.when ratings are between 4.0 to 3.4---- very good
3.when ratings are between 3.5 to 3.9 -----good
4.when ratings are between 3.0 to 3.4 -----average
5.when ratings are between 2.5 to 2.9 -----average
6.when ratings are between 2.0 to 2.4 -----poor

In [ ]:
sns.barplot(X="Aggregate rating",Y="Rating Count",data=ratings)

sns.barplot(x="Aggregate rating",y="Rating Count",data=ratings)

In [ ]:
sns.barplot(x="Aggregate rating",y="Rating Count",data=ratings)

In [ ]:
plt.rcParams['figure.figsize']=(12,6)
sns.barplot(x="Aggregate rating",y="Rating Count",data=ratings)

In [ ]:
sns.barplot(x="Aggregate rating",y="Rating Count",hue='Rating color',data=ratings)

In [ ]:
sns.barplot(x="Aggregate rating",y="Rating Count",hue='Rating color',data=ratings,palette=['white','red','orange','yellow','green'])

observation:
    1. Not count is very high
    2. maximum rating is between 2.5 to 3.4

In [ ]:
sns.countplot(x="Rating color", data= ratings,palatte=['white','red','orange','yellow','green'])

In [ ]:
##find the countries that has given 0 ratings

In [ ]:
final_df.columns

In [ ]:
final_df[final_df['Rating color']=='White'].groupby('Country').size().reset_index()

observations:
    1.maximum 0 ratings are from Indian costumer

In [ ]:
final_df.columns

In [ ]:
final_df.groupby(['Country','Currency']).size().reset_index()

##which countries has online deliveries options

In [ ]:
final_df.groupby(['Country','Has Online delivery']).size().reset_index()

In [ ]:
final_df['Has Online delivery']=="Yes".value_counts()

In [ ]:
final_df[final_df['Has Online delivery']=="Yes"].Country.value_counts()

obervations:
    India and UAE has online delivery feature in their country

##create pie chart for cities distribution

In [ ]:
city_index=final_df.City.value_counts().index

In [ ]:
city_value=final_df.City.value_counts().values

In [ ]:
final_df.City.value_counts().values

In [ ]:
plt.pie(city_value,labels=city_index)

In [ ]:
plt.pie(city_value[:5],labels=city_index[:5])